.categoria-layout {
  display: flex;
  flex-direction: column;
  gap: 20px; // Espacio entre header y tabla
  padding: 20px;
  background-color: #f9f9f9; // Fondo suave

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    button {
      height: 40px;
    }

    .search-field {
      flex: 1 1 300px; // Ocupa el espacio disponible, mínimo 300px
      max-width: 400px;

      input {
        padding: 5px 10px;
      }

      button {
        mat-icon {
          color: #555;
        }
      }
    }
  }

  app-tabla-paginada {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 10px;
  }
}
